.add-customer-page {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(255, 255, 255);
}

.add-customer-page h2 {
  text-align: center;
  color: #e6ff0a;
  margin-bottom: 20px;
}

.customer-form {
  display: flex;
  flex-direction: column;
}

.customer-form h3 {
  margin-top: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.measurements-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  margin-bottom: 15px;
}

.customer-form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.customer-form button {
  margin-top: 20px;
  padding: 12px;
  background-color: #000000;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.customer-form button:hover {
  background-color: #000000;
}
