.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b45f7d;
  padding: 10px 20px;
  color: white;
  flex-wrap: wrap;
}

.nav-logo {
  font-weight: bold;
  font-size: 18px;
}

.nav-buttons button {
  margin-right: 10px;
  background: #fff;
  color: #b45f7d;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background-color: #f1f1f1;
}

.nav-search {
  display: flex;
}

.nav-search input {
  padding: 6px;
  border-radius: 5px 0 0 5px;
  border: none;
}

.nav-search button {
  padding: 6px 10px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #fff;
  color: #b45f7d;
  cursor: pointer;
}

.nav-search button:hover {
  background-color: #f1f1f1;
}
